.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  background-color: #E6ECF0;
  opacity: 90%;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  padding:0;
}
.list-group {
  list-style: none;
}

.card-deck {
  width: 100%;
}
.card-header {
  background-color: #007BFF;
}
.dropdown-header {
  background-color: #E6ECF0;
}

.display-4 {
  background: white;
  opacity: 80%;
  background-size: 100%;
}
