* {
  box-sizing: border-box;
}
#map {
  /* the width and height may be set to any size */
  width: 100%;
  height: 700px;
}

body {
  background: #28666e;
}
.card-body {
  background: #7c9885;
}
.card-footer {
  background: #b5b682;
}
.btn {
  background: #fedc97;
}
.card-img-top {
  background-color: #fedc97;
}
p {
  font-size: 12px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #fedc97;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #fedc97;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
