:root {
  --bg-info-color: #CDDEFF;
  --bg-success-color: #CEF3DA;
  --bg-warning-color: #FCFBC9;
  --bg-error-color: #FAD3D7;
}


body, html {
  height: 100%;
  width: 100%;
  padding: 0%;
  font-family: Arial, Ubuntu, sans-serif;
}

.message {
  padding: .5em;
  margin: .5em;
  width: 90%;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.message-info {
  background-color: var(--bg-info-color);
  color: #47419D;
}

.message-success {
  background-color: var(--bg-success-color);
  color: #297543;
}

.message-warning {
  background-color: var(--bg-warning-color);
  color: #A89A42;
}

.message-error {
  background-color: var(--bg-error-color);
  color: #B76F7F;
}
