 body {
     background-color: #8e9aaf;
 }
 .navbar {
   margin-block: 0;
   padding: 0;
   background-color: #06d6a0;
   border: none;
 }

 .weather {
   color: #7c9885; !important;
   font-weight: 600;
   font-size: 25px;
 }
#nav_list > li > a {
  color: #7c9885; !important;
  font-weight: 500;
}

#logo {
  max-height:42px;
  margin-right: 40px;
  display:inline-block;
  margin-top: -15px;

  /*this margin moves the logo and title upwards*/
}

 .content{
     background: white;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 30px;
      }
      .col-md-4:nth-child(2) .content{
      background: #cbc0d3;
      color: #fff;
      }
      .col-md-4:nth-child(2) .content p{
      color: #fff;
      }
      .content:hover{
      background: #efd3d7;
      }
      .content:hover p,.content:hover h2,.content:hover h3{
      color: #fff;
      }
      h3,h2{
      text-align: center;
      }
      h3{
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      }
      h2{
      font-size:36px;
      font-weight: 700;
      }
      p{
      margin:0;
      color: #919191;
      text-align: center;
      padding: 10px;
      text-transform: capitalize;
      font-size: 22px;
      }
      span{
      font-size: 18px;
      padding-right: 1px;
      }
      .btn-dark{
      display: block;
      margin: 10px auto;
      width: 65%;
      padding: 10px;
      border-radius: 400px;
      font-weight: 600;
      }
      .btn-dark:hover{
      background: #fff;
      color: #000;
      }
      @media(max-width: 992px){
      h3{
      font-size: 30px;
      }
      }
      @media(max-width: 768px){
      .content{
      margin: 20px;
      }
      }

